*{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}

.megamenu {
  background-color: #f4f4f4;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.level1 {
  list-style: none;
  display: flex;
  gap: 20px;
}

.level1 > li {

  padding: 10px;
  cursor: pointer;
}

.level2 {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;  /* 👈 Center items horizontally */
  align-items: center;      /* 👈 Optional: center items vertically */
  padding: 20px;        
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.has-submenu:hover .level2 {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
 

}
.level2 li{
  padding: 20px;
}

.level2 li img{
  width: 100px;
  height: auto;
}

.sublevel2{
  display: none;
  position: absolute;
  min-width: 600px;
 list-style: none;
  background-color: #fff;
  top: 100%;
  display: block;
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
 
 
}

.submenu-2:hover .sublevel2{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.sublevel2 li{
  padding: 10px;
}

.level3-1,.level3-2,.level3-3{
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.has-submenu2-1:hover .level3-1{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}
.has-submenu2-2:hover .level3-2{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}
.has-submenu2-3:hover .level3-3{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.sublevel-4{
  display: block;
  position: absolute;
  padding: 20px;
  min-width: 500px;
  transform: translateY(30px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.level-4{
  display: flex;
  position: absolute;
  padding: 20px;
  min-width: 500px;
  transform: translateY(30px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.submenu-4:hover .sublevel-4{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
  position: absolute;
  left: 10%;
}

.sublevel-4 img{
  width: 100px;
}

.mega-submenu-4:hover .level-4{
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
  top: 0;
  left: 10%;
}
.level-4 li{
  padding: 0 10px;
}